body {
  background-image: url('/img/katwijk-bg.jpg');
  background-color: white;
  background-size: cover;
  margin: auto;
  padding: 0;
}

.wrapper {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  margin: auto;
  padding: 0;
  max-width: 1280px;
  min-height: 100vh;
  height: auto;
}

.navbar {
    background-color: #0082a5;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar .icon {
    display: none;
}

.navbar a:hover {
    background-color: #222;
    color: white;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url();
  }
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
  .navbar.responsive {
    position: relative;
    z-index: 1;
  }
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

main {
  margin: 0 auto;
}

.page-title {
  margin: 1rem;
}

#map {
  height: calc(100% - 7rem);
  width: 100%;
  max-width: 1280px;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.bucketlist {
  margin: 0;
  padding: 0;
}

.bucketlistul a {
  text-decoration: none;
}

.bucketlist .list-item {
  list-style: none;
  padding: 1rem calc(1rem - 5px);
  background-color: white;
  width: calc(100% - 2rem - 5px;);
  border-left: lightgrey 5px solid;
  transition: all 0.2s;
  cursor: pointer;
}

.list-item:hover {
  border-left: #0082a5 5px solid;
}

.list-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.3rem 0;
  color: grey;
}

.span-full {
  color: red;
}

.list-item.list-empty {
}

.list-item.list-full {
  border-left: #d34c4e 5px solid;
}
.list-item.list-full:hover {
  border-left: red 5px solid;
}

.bucket-details-lijst {
  margin: 1rem;
}

hr {
  margin: 1rem;
  border-style: inset;
  border: lightgrey 1px solid;
}

.measurement-list {
  padding: 0;
  list-style: none;
}

.measurement-list li{
  margin: 1.5rem 0;
}
